In [40]:
import pandas as pd
import numpy as np
import math

# sql
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine
import psycopg2 as pg

In [41]:
#crerate engine
engine = create_engine('postgresql://racheldilley:localhost@localhost:5432/programer_database')

Upload servey data as sql table "survey2020" and "survey2019" to "programer_database"

In [45]:
# survey2020 = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/operating-system-predictor/data/survey_results_public2020.csv')

# # name table survey2020
# survey2020.to_sql('survey2020', engine, index=False)

# survey2019 = pd.read_csv('../Documents/survey_results_public2019.csv')

# # name table survey2019
# survey2019.to_sql('survey2019', engine, index=False)

Upload region data as sql table "country_regions" to "programer_database"

In [46]:
country_regions_df = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/countries of the world.csv')

#print(country_regions_df['Region'].value_counts())
# name table survey2020
#country_regions.to_sql('country_region', engine, index=False)

Query columns from survey2020 where OpSys is not null and is not 'BSD'

In [50]:
query1 = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechWorkedWith" as developertools,
 "OpSys", "LanguageWorkedWith" as Language, "UndergradMajor", 
"WebframeWorkedWith" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "OpSys" IS NOT NULL AND "OpSys" NOT IN ('BSD');
'''
df_2020 = pd.read_sql_query(query1, engine)

query2 = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechWorkedWith" as developertools,
 "OpSys", "LanguageWorkedWith" as Language, "UndergradMajor", 
"WebframeWorkedWith" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "OpSys" IS NOT NULL AND "OpSys" NOT IN ('BSD');
'''
df_2019 = pd.read_sql_query(query2, engine)

### Data Cleaning

Combine 2020 and 2019 survey data

In [51]:
df = pd.concat([df_2020, df_2019], axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112354 entries, 0 to 56176
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Hobbyist        112354 non-null  object
 1   MainBranch      112048 non-null  object
 2   Age             90092 non-null   float64
 3   Age1stCode      107664 non-null  object
 4   Country         112354 non-null  object
 5   databases       96182 non-null   object
 6   DevType         91894 non-null   object
 7   EdLevel         106278 non-null  object
 8   Employment      111800 non-null  object
 9   Ethnicity       91144 non-null   object
 10  Gender          100214 non-null  object
 11  developertools  79558 non-null   object
 12  OpSys           112354 non-null  object
 13  language        110978 non-null  object
 14  UndergradMajor  94510 non-null   object
 15  webframes       82918 non-null   object
 16  YearsCode       107278 non-null  object
 17  YearsCodePro    85978 non-null   object
dtypes: float64(1), object(17)
memory usage: 16.3+ MB

Expand df so there is only one top coding language per column

In [52]:
# def get_languages_df(row, columns, str_list, idx):
#     '''
#     A function that turns a list in a column into multiple rows

#     Parameters
#     ----------
#     row : row of df
#     columns: columns of df
#     str_list: list fo strings that will be included as rows
#     idx: col index of list 

#     Returns
#     -------
#     a df 
#     '''
#     df_devs = pd.DataFrame(columns=columns)
#     col_list = row[idx].split(';') #create list from row value
    
#     #loop through list and add to append value to df if value in str_list
#     for val in col_list:
#         if val in str_list:
#             row[idx]= val #row to be changed to single value
#             df_devs = df_devs.append(pd.DataFrame({'Hobbyist': row[0], 'MainBranch': row[1], 'Age': row[2], 
#                                                    'Age1stCode': row[3], 'Country': row[4], 'databases': row[5],
#                                                    'DevType': row[6], 'EdLevel': row[7], 'Employment': row[8],
#                                                   'Ethnicity': row[9], 'Gender': row[10], 'developertools': row[11],
#                                                    'learn': row[12], 'OpSys': row[13], 'language': row[14], 
#                                                    'UndergradMajor': row[15], 'webframes': row[16], 'YearsCode': row[17],
#                                                   'YearsCodePro': row[18]}, index=[index]), ignore_index=True)
#     return df_devs

In [53]:
# columns = df.columns
# df2 = pd.DataFrame(columns=columns)
# top_langs = ['JavaScript', 'Python', 'SQL', 'Java', 'HTML/CSS']

# #loop through all cols in df and concat df from function to newly created df
# for index, row in df.iterrows():
#     df_devtypes = get_languages_df(row, columns, top_langs, 14)
#     df2 = pd.concat([df2, df_devtypes], axis=0)
#     #print(df2)

In [54]:
#df3.info()

Clean Target Data

In [55]:
df2 = df.copy()
df2.loc[:, 'OpSys'] = df['OpSys'].astype('category') #change to categorical data

#investigate target data
df2['OpSys'].value_counts()

Windows        54340
Linux-based    29864
MacOS          28150
Name: OpSys, dtype: int64

Change column to numeric

In [77]:
df3 = df2.copy()
num_cols = ['Age',  'Age1stCode', 'YearsCode', 'YearsCodePro']
for col in num_cols:
    df3[col] = df3[col].apply(pd.to_numeric, errors='coerce')

Change Language column to list

In [78]:
df3['language'] = df3['language'].apply(lambda x: x.split(';') if x is not None else x)
#print(df3['language'].value_counts().head())

Clean EdLevel

In [79]:
def get_education(row):
    '''
    A function that shortens survey responses to get categorical features
    combines masters and doctorates and secondary and primary schooling

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the EdLevel column in df
    '''
    try:
        if 'Bachelor' in row[7]:
            return 'BA/BS'
        elif 'Master' in row[7] or 'doctoral' in row[7]:
            return 'MA/PhD'
        elif 'Secondary' in row[7] or 'Primary' in row[7]:
            return 'Sec/Prim'
        elif 'Associate' in row[7]:
            return 'AA/AS'
        elif 'Professional' in row[7]:
            return 'Prof'
        elif 'Some' in row[7]:
            return 'Some Univ'
        else:
            return 'None'
    except: #fill na values
        if row[1] is not None:
            if 'student' in row[1]: #check if student 
                return 'Student'
        return row[7]

In [80]:
df3['EdLevel'] = df3.apply(get_education, axis=1) #update EdLevel column
df3['EdLevel'].value_counts()

BA/BS        48992
MA/PhD       27456
Some Univ    13446
Sec/Prim     10690
AA/AS         3424
Prof          1462
Student       1232
None           808
Name: EdLevel, dtype: int64

Clean Ethnicity

In [81]:
#change values with value counts less than 150 to other
c = df3['Ethnicity'].value_counts()
df3['Ethnicity'] = np.where(df3['Ethnicity'].isin(c.index[c<250]), 'other', df3['Ethnicity'])

In [82]:
def get_ethnicity(row):
    '''
    A function that shortens survey responses to get categorical features
    combines asian ethnicities and changes multi to multiracial

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Asian' in row[9]:
            return 'Asian'
        elif 'Hispanic' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Middle' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Black' in row[9]:
            return 'Black'
        elif 'Hispanic' in row[9]:
            return 'Hispanic'
        elif 'White' in row[9]:
            return 'White'
        elif 'Middle' in row[9]:
            return 'M Eastern'
        else:
            return row[9]
    except:
        return row[9]

In [83]:
df3['Ethnicity'] = df3.apply(get_ethnicity, axis=1) #update Ethnicity column
df3['Ethnicity'].value_counts()

White          58168
Asian          15550
Hispanic        4486
Black           3354
other           3228
M Eastern       3226
Biracial        2556
Multiracial      576
Name: Ethnicity, dtype: int64

Clean Gender column

In [84]:
#change values with value counts less than 1000 to gender non-conforming
c = df3['Gender'].value_counts()
df3['Gender'] = np.where(df3['Gender'].isin(c.index[c<1100]), 'gender non-conforming', df3['Gender'])
df3['Gender'].value_counts()

Man                      91250
Woman                     7598
gender non-conforming     1366
Name: Gender, dtype: int64

Create new DatabasesUsed column from databases column

In [85]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112354 entries, 0 to 56176
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Hobbyist        112354 non-null  object
 1   MainBranch      112048 non-null  object
 2   Age             90092 non-null   float64
 3   Age1stCode      106972 non-null  float64
 4   Country         112354 non-null  object
 5   databases       96182 non-null   object
 6   DevType         91894 non-null   object
 7   EdLevel         107510 non-null  object
 8   Employment      111800 non-null  object
 9   Ethnicity       91144 non-null   object
 10  Gender          100214 non-null  object
 11  developertools  79558 non-null   object
 12  OpSys           112354 non-null  category
 13  language        110978 non-null  object
 14  UndergradMajor  94510 non-null   object
 15  webframes       82918 non-null   object
 16  YearsCode       105730 non-null  float64
 17  YearsCodePro    82114 non-null   float64
dtypes: category(1), float64(4), object(13)
memory usage: 15.5+ MB

In [86]:
def get_num_databases(row):
    '''
    A function that returns the number of databases used 

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a numerical value representing the number of databases used
    '''
    if row[5] is None:
        return 0
    
    database_list = row[5].split(';')
    return len(database_list)

In [87]:
df3['database_count'] = df3.apply(get_num_databases, axis=1) #add values to database_count column
#df3['database_count'].value_counts()
#df['learn'].value_counts()

Clean UndergradMajor column

In [88]:
def get_major(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Computer' in row[14]:
            return 'Comp Sci/Eng'
        elif 'engineering' in row[14]:
            return 'Eng'
        elif 'Web' in row[14]:
            return 'Web Dev'
        elif 'health' in row[14] or 'natural' in row[14]:
            return 'Health/Nat Sci'
        elif 'Math' in row[14]:
            return 'Math/Stats'
        elif 'Information' in row[14]:
            return 'Info Tech/Sys'
        elif 'arts' in row[14]:
            return 'Arts'
        elif 'humanities' in row[14] or 'social' in row[14]:
            return 'Human/Social Sci'
        elif 'never' in row[14]:
            return 'None'
        else:
            return float('NaN')
    except:
        if row[7] is not None: #return none if never attended college
            if 'Secondary/Primary' in row[7] or 'Some' in row[7] or 'None' in row[7] or 'Student' in row[7]: 
                return 'None'
        
        return row[14]

In [89]:
df3['UndergradMajor'] = df3.apply(get_major, axis=1) #add values to UndergradMajor column
df3['UndergradMajor'].value_counts()

Comp Sci/Eng        58652
Eng                  8800
Info Tech/Sys        7390
Health/Nat Sci       4680
Human/Social Sci     3634
Math/Stats           3466
Web Dev              3156
None                 2778
Arts                 1358
Name: UndergradMajor, dtype: int64

Create new region column based on Country column

In [90]:
#group regions df by region
country_regions_df['Country'] = country_regions_df['Country'].str.strip() #left&right strip country col before grouping
country_regions_df['Region'] = country_regions_df['Region'].str.strip() #left&right stripregion col before grouping

regions_grouped = country_regions_df.groupby('Region')['Country']

#create region dict for correct names
region_dict = {
                'SUB-SAHARAN AFRICA' : 'Africa',
                'LATIN AMER. & CARIB' : 'S America',
                'ASIA (EX. NEAR EAST)' : 'Asia',
                'WESTERN EUROPE' : 'Europe',
                'OCEANIA' : 'Australia',
                'NEAR EAST' :  'M East',
                'EASTERN EUROPE': 'Europe',
                'C.W. OF IND. STATES' : 'CIS',
                'NORTHERN AFRICA' : 'Africa',
                'NORTHERN AMERICA' : 'N America',
                'BALTICS' : 'Baltics'
                }

In [91]:
def get_region(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    #check if country exists in region df
    for group_name, df_group in regions_grouped:
        if row[4] in df_group.values:
            return region_dict[group_name]
    
    #check for missed values and return correct region if not nan value
    try:
        if 'Kong' in row[4] or 'Korea' in row[4] or 'Nam' in row[4] or 'Lao' in row[4]:
            return 'Asia'
        elif 'Congo' in row[4] or 'Gambia' in row[4] or 'Trinidad' in row[4] or 'Tanzania' in row[4] or 'Côte' in row[4]:
            return 'Africa'
        elif 'Syria' in row[4] or 'Libya' in row[4] or 'Myanmar' in row[4] or 'Nomadic' in row[4]:
            return 'M East'
        elif 'Bosnia' in row[4] or 'Moldova' in row[4] or 'Macedonia' in row[4] or 'Kosovo' in row[4] or 'Montenegro' in row[4]:
            return 'Europe'
        elif 'Venezuela' in row[4]:
            return 'S America'
        elif 'Russia' in row[4]:
            return 'CIS'
        else:
            return 'other'
    except:
        return row[4]

In [92]:
df3['Region'] = df3.apply(get_region, axis=1) #add values to region column
df3['Region'].value_counts()

Europe       40906
N America    26820
Asia         22572
S America     6846
Africa        4468
CIS           3596
M East        3468
Australia     2886
Baltics        782
other           10
Name: Region, dtype: int64

Make Hobbyist Column binary

In [93]:
# df3['Hobbyist_bin'] = df3['Hobbyist'].apply(lambda x: 1 if x=='Yes'  else 0)

Combine MainBranch, DevType and Employment columns

In [94]:
def edit_DevType(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    if row[6] is not None: #return list of DevTypes
        dev_list = row[6].split(';')
        return [sub.replace('Developer, ', '') for sub in dev_list] 
        
    else:
        if row[1] is not None: #check if student, retired, or sometimes code for work
            if 'student' in row[1]:
                return ['Student']
            elif 'used to be' in row[1]:
                return ['Retired Dev']
            elif 'sometimes' in row[1]:
                return ['Sometimes Code at Work']
        elif row[8] is not None: #if other columns are empty, check if employed but not a developer
            return ['Other Occupation']
        else:
            return row[6]

In [95]:
df3['DevType'] = df3.apply(edit_DevType, axis=1) #add values to region column
#df3['DevType'].value_counts().head(10)

Make DevTpes categories binary for top DevTypes

In [96]:
def add_binary_column(obj_list, str_search):
    try:
        for obj in obj_list:
            if str_search in obj:
                return 'Yes'
        return 'No'
    except:
        return obj_list

In [97]:
devtype_columns = ['back-end', 'full-stack', 'front-end', 'desktop', 'mobile', 'DevOps', 'Database admin', 'Designer',
                 'System admin', 'Student', 'Other Occupation', 'Retired Dev','Sometimes Code at Work']
for col in devtype_columns:
    x=0
    df3[col] = df3.apply(lambda x: add_binary_column(x['DevType'], col), axis=1)
    
lang_columns = ['JavaScript', 'Python', 'SQL', 'Java', 'HTML/CSS']
for col in lang_columns:
    x=0
    df3[col] = df3.apply(lambda x: add_binary_column(x['language'], col), axis=1)

drop uneeded or combined columns

In [98]:
df3.drop(labels=['Country', 'MainBranch', 'Employment', 'DevType', 'developertools', 'webframes', 'databases',
               'language'], axis=1, inplace=True)

In [99]:
df3.describe()

,Age,Age1stCode,YearsCode,YearsCodePro,database_count
count,90092.000000,106972.000000,105730.000000,82114.000000,112354.000000
mean,30.805088,15.410556,12.887525,8.945417,2.366556
std,9.523737,5.070454,9.514431,7.768907,1.890140
min,1.000000,5.000000,1.000000,1.000000,0.000000
25%,24.000000,12.000000,6.000000,3.000000,1.000000
50%,29.000000,15.000000,10.000000,6.000000,2.000000
75%,35.000000,18.000000,18.000000,12.000000,3.000000
max,279.000000,85.000000,50.000000,50.000000,14.000000

Clean Age and Age1stCode column

In [100]:
df3 = df3[df3['Age'] < 70] #max was 279, avg age of death is around 80
df3 = df3[df3['Age1stCode'] < 60] #max was 85, which seems very unrealistic

df3['YearsCodePro'] = df3['YearsCodePro'].fillna(value=0) #fill na values with 0 because non-prof coders included in survey
df3.describe()

                Age    Age1stCode     YearsCode  YearsCodePro  database_count
count  89108.000000  89108.000000  87922.000000  89108.000000    89108.000000
mean      30.677358     15.253670     13.046268      6.943260        2.373210
std        9.155301      4.876255      9.408232      7.691258        1.861707
min        1.000000      5.000000      1.000000      0.000000        0.000000
25%       24.000000     12.000000      6.000000      1.000000        1.000000
50%       29.000000     15.000000     10.000000      5.000000        2.000000
75%       35.000000     18.000000     18.000000     10.000000        3.000000
max       69.000000     58.000000     50.000000     50.000000       14.000000

In [101]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89108 entries, 3 to 56170
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Hobbyist                89108 non-null  object
 1   Age                     89108 non-null  float64
 2   Age1stCode              89108 non-null  float64
 3   EdLevel                 87622 non-null  object
 4   Ethnicity               81172 non-null  object
 5   Gender                  87982 non-null  object
 6   OpSys                   89108 non-null  category
 7   UndergradMajor          76648 non-null  object
 8   YearsCode               87922 non-null  float64
 9   YearsCodePro            89108 non-null  float64
 10  database_count          89108 non-null  int64
 11  Region                  89108 non-null  object
 12  back-end                85642 non-null  object
 13  full-stack              85642 non-null  object
 14  front-end               85642 non-null  object
 15  desktop                 85642 non-null  object
 16  mobile                  85642 non-null  object
 17  DevOps                  85642 non-null  object
 18  Database admin          85642 non-null  object
 19  Designer                85642 non-null  object
 20  System admin            85642 non-null  object
 21  Student                 85642 non-null  object
 22  Other Occupation        85642 non-null  object
 23  Retired Dev             85642 non-null  object
 24  Sometimes Code at Work  85642 non-null  object
 25  JavaScript              88374 non-null  object
 26  Python                  88374 non-null  object
 27  SQL                     88374 non-null  object
 28  Java                    88374 non-null  object
 29  HTML/CSS                88374 non-null  object
dtypes: category(1), float64(4), int64(1), object(24)
memory usage: 20.5+ MB

Pickle df3 to data folder

In [102]:
df3.to_pickle('../Data/survey_data_cleaned.pkl')

New df with removed na values

In [103]:
df4 = df3.copy()
df4 = df4.dropna()
#df4.info()

In [104]:
df4.to_pickle('../Data/survey_data_cleaned2.pkl')