In [2]:
import pandas as pd
import numpy as np
import math

# 
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine

import psycopg2 as pg

# plotting
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#set the rc parameters
plt.style.use('ggplot')
plt.rc('font', size=18)

In [4]:
#crerate engine
engine = create_engine('postgresql://racheldilley:localhost@localhost:5432/programer_database')

Upload servey data as sql table "survey2020" to "programer_database"

In [5]:
# survey2020 = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/survey_results_public.csv')

# # name table survey2020
# survey2020.to_sql('survey2020', engine, index=False)

Upload region data as sql table "country_regions" to "programer_database"

In [20]:
country_regions_df = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/countries of the world.csv')

print(country_regions_df['Region'].value_counts())
# name table survey2020
#country_regions.to_sql('country_region', engine, index=False)

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

Query columns from survey2020 where Hobbyist (the target data) is not null

In [71]:
query = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechDesireNextYear" as developertools, "NEWCollabToolsDesireNextYear" as CollabTools,
"NEWLearn" as Learn, "OpSys", "PlatformDesireNextYear" as Platforms, "UndergradMajor", 
"WebframeDesireNextYear" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "Hobbyist" IS NOT NULL;
'''
df = pd.read_sql_query(query, engine)

# df_regions = pd.read_sql_query('SELECT * FROM country_regions', engine)
#df.sample(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64416 entries, 0 to 64415
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hobbyist        64416 non-null  object
 1   MainBranch      64117 non-null  object
 2   Age             45446 non-null  float64
 3   Age1stCode      57900 non-null  object
 4   Country         64072 non-null  object
 5   databases       49537 non-null  object
 6   DevType         49370 non-null  object
 7   EdLevel         57431 non-null  object
 8   Employment      63854 non-null  object
 9   Ethnicity       45948 non-null  object
 10  Gender          50557 non-null  object
 11  developertools  42379 non-null  object
 12  collabtools     47287 non-null  object
 13  learn           56156 non-null  object
 14  OpSys           56228 non-null  object
 15  platforms       50605 non-null  object
 16  UndergradMajor  50995 non-null  object
 17  webframes       40024 non-null  object
 18  YearsCode       57684 non-null  object
 19  YearsCodePro    46349 non-null  object
dtypes: float64(1), object(19)
memory usage: 9.8+ MB

In [72]:
#investigate target data
df['Hobbyist'].value_counts() #78% do code as a hobby

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

### Data Cleaning

Change columsn to numeric

In [73]:
num_cols = ['Age',  'Age1stCode', 'YearsCode', 'YearsCodePro']
for col in num_cols:
    df[col] = df[col].apply(pd.to_numeric, errors='coerce')

Clean EdLevel

In [74]:
def get_education(row):
    '''
    A function that shortens survey responses to get categorical features
    combines masters and doctorates and secondary and primary schooling

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the EdLevel column in df
    '''
    try:
        if 'Bachelor' in row[7]:
            return 'Bachelors'
        elif 'Master' in row[7] or 'doctoral' in row[7]:
            return 'Masters/Doctoral'
        elif 'Secondary' in row[7] or 'Primary' in row[7]:
            return 'Secondary/Primary'
        elif 'Associate' in row[7]:
            return 'Associate'
        elif 'Professional' in row[7]:
            return 'Professional'
        elif 'Some' in row[7]:
            return 'Some College'
        else:
            return 'None'
    except:
        return row[7]

In [75]:
df['EdLevel'] = df.apply(get_education, axis=1) #update EdLevel column
df['EdLevel'].value_counts()

Bachelors            26542
Masters/Doctoral     14802
Some College          7239
Secondary/Primary     5712
Associate             1843
Professional           800
None                   493
Name: EdLevel, dtype: int64

Clean Ethnicity

In [76]:
#change values with value counts less than 150 to other
c = df['Ethnicity'].value_counts()
df['Ethnicity'] = np.where(df['Ethnicity'].isin(c.index[c<150]), 'other', df['Ethnicity'])

In [77]:
def get_ethnicity(row):
    '''
    A function that shortens survey responses to get categorical features
    combines asian ethnicities and changes multi to multiracial

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Asian' in row[9]:
            return 'Asian'
        elif 'Hispanic' in row[9] and 'White' in row[9]:
            return 'other'
        elif 'Middle' in row[9] and 'White' in row[9]:
            return 'other'
        elif 'Black' in row[9]:
            return 'Black'
        elif 'Hispanic' in row[9]:
            return 'Hispanic'
        elif 'White' in row[9]:
            return 'White'
        elif 'Middle' in row[9]:
            return 'Middle Eastern'
        else:
            return 'other'
    except:
        return row[9]

In [78]:
df['Ethnicty'] = df.apply(get_ethnicity, axis=1) #update Ethnicity column
df['Ethnicty'].value_counts()

White             29318
Asian              7834
other              3228
Hispanic           2256
Black              1690
Middle Eastern     1622
Name: Ethnicty, dtype: int64

Clean Gender column

In [79]:
#change values with value counts less than 1000 to gender non-conforming
c = df['Gender'].value_counts()
df['Gender'] = np.where(df['Gender'].isin(c.index[c<1000]), 'gender non-conforming', df['Gender'])
df['Gender'].value_counts()

Man                      46013
Woman                     3844
gender non-conforming      700
Name: Gender, dtype: int64

Create new learning frequency column from learn column

In [80]:
def get_learn_freq(row):
    '''
    A function that returns learning frequency 

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a numerical value representing learning frquecy in years
    '''
    try:
        if 'months' in row[13]:
            return (3/12)
        elif 'a year' in row[13]:
            return 1
        elif 'years' in row[13]:
            return 3
        elif 'decade' in row[13]:
            return 10
        else:
            return float('NaN')
    except:
        return row[13]

In [81]:
df['learn_freq_years'] = df.apply(get_learn_freq, axis=1) #add values to learn_freq column
df['learn_freq_years'].value_counts()
#df['learn'].value_counts()

0.25     20938
1.00     20693
3.00     13284
10.00     1241
Name: learn_freq_years, dtype: int64

Clean UndergradMajor column

In [82]:
def get_major(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Computer' in row[16]:
            return 'Comp Sci/Eng'
        elif 'engineering' in row[16]:
            return 'Engineering'
        elif 'Web' in row[16]:
            return 'Web Dev'
        elif 'health' in row[16] or 'natural' in row[16]:
            return 'Health/Natural Science'
        elif 'Math' in row[16]:
            return 'Math/Stats'
        elif 'Information' in row[16]:
            return 'Information Tech/Sys'
        elif 'arts' in row[16]:
            return 'Arts'
        elif 'humanities' in row[16] or 'social' in row[16]:
            return 'Humanities/Social Sciences'
        elif 'never' in row[16]:
            return 'None'
        else:
            return float('NaN')
    except:
        return row[16]

In [83]:
df['UndergradMajor'] = df.apply(get_major, axis=1) #add values to UndergradMajor column
df['UndergradMajor'].value_counts()

Comp Sci/Eng                  31582
Engineering                    4754
Information Tech/Sys           4071
Health/Natural Science         2457
Humanities/Social Sciences     1940
Math/Stats                     1849
Web Dev                        1789
Arts                            725
None                            453
Name: UndergradMajor, dtype: int64

Create new region column based on Country column

In [84]:
#group regions df by region
country_regions_df['Country'] = country_regions_df['Country'].str.strip() #left&right strip country col before grouping
country_regions_df['Region'] = country_regions_df['Region'].str.strip() #left&right stripregion col before grouping

regions_grouped = country_regions_df.groupby('Region')['Country']

#create region dict for correct names
region_dict = {
                'SUB-SAHARAN AFRICA' : 'Africa',
                'LATIN AMER. & CARIB' : 'South America',
                'ASIA (EX. NEAR EAST)' : 'Asia',
                'WESTERN EUROPE' : 'West Europe',
                'OCEANIA' : 'Australia',
                'NEAR EAST' :  'Middle East',
                'EASTERN EUROPE': 'East Europe',
                'C.W. OF IND. STATES' : 'Russia',
                'NORTHERN AFRICA' : 'Africa',
                'NORTHERN AMERICA' : 'North America',
                'BALTICS' : 'Baltics'
                }

In [85]:
def get_region(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    #check if country exists in region df
    for group_name, df_group in regions_grouped:
        if row[4] in df_group.values:
            return region_dict[group_name]
    
    #check for missed values and return correct region if not nan value
    try:
        if 'Kong' in row[4] or 'Korea' in row[4] or 'Nam' in row[4] or 'Lao' in row[4]:
            return 'Asia'
        elif 'Congo' in row[4] or 'Gambia' in row[4] or 'Trinidad' in row[4] or 'Tanzania' in row[4] or 'Côte' in row[4]:
            return 'Africa'
        elif 'Syria' in row[4] or 'Libya' in row[4] or 'Myanmar' in row[4] or 'Nomadic' in row[4]:
            return 'Middle East'
        elif 'Bosnia' in row[4] or 'Moldova' in row[4] or 'Macedonia' in row[4] or 'Kosovo' in row[4] or 'Montenegro' in row[4]:
            return 'East Europe'
        elif 'Venezuela' in row[4]:
            return 'South America'
        elif 'Russia' in row[4]:
            return 'Russia'
        else:
            return 'other'
    except:
        return row[4]

In [86]:
df['Region'] = df.apply(get_region, axis=1) #add values to region column
df['Region'].value_counts()

West Europe      18338
North America    14660
Asia             14102
East Europe       4197
South America     3968
Africa            2708
Russia            2067
Middle East       2025
Australia         1569
Baltics            427
other               11
Name: Region, dtype: int64

Combine MainCranch, DevTyp, and Employment cols

In [87]:
def edit_DevType(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    if row[6] is not None:
        dev_list = row[6].split(';')
        return [sub.replace('Developer, ', '') for sub in dev_list] 
        
    else:
        if row[1] is not None:
            if 'student' in row[1]:
                return ['Student']
            elif 'used to be' in row[1]:
                return ['Retired Dev']
            elif 'sometimes' in row[1]:
                return ['Sometimes Code at Work']
        elif row[8] is not None:
            return ['Other Occupation']
        else:
            return row[6]

In [88]:
df['DevType'] = df.apply(edit_DevType, axis=1) #add values to region column
df['DevType'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Student]                                                                6235
[full-stack]                                                             4424
[back-end]                                                               3086
[back-end, front-end, full-stack]                                        2227
[back-end, full-stack]                                                   1476
[front-end]                                                              1401
[mobile]                                                                 1251
[Sometimes Code at Work]                                                 1180
[front-end, full-stack]                                                   830
[back-end, desktop or enterprise applications, front-end, full-stack]     813
Name: DevType, dtype: int64