In [127]:
import pandas as pd
import numpy as np
import math

# 
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine

import psycopg2 as pg

# plotting
import matplotlib.pyplot as plt
%matplotlib inline

In [128]:
#set the rc parameters
plt.style.use('ggplot')
plt.rc('font', size=18)

In [129]:
#crerate engine
engine = create_engine('postgresql://racheldilley:localhost@localhost:5432/programer_database')

Upload servey data as sql table "survey2020" to "programer_database"

In [130]:
# survey2020 = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/survey_results_public.csv')

# # name table survey2020
# survey2020.to_sql('survey2020', engine, index=False)

Upload region data as sql table "country_regions" to "programer_database"

In [131]:
country_regions_df = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/countries of the world.csv')

print(country_regions_df['Region'].value_counts())
# name table survey2020
#country_regions.to_sql('country_region', engine, index=False)

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

Query columns from survey2020 where Hobbyist (the target data) is not null

In [132]:
query = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechWorkedWith" as developertools,
"NEWLearn" as Learn, "OpSys", "LanguageWorkedWith" as Language, "UndergradMajor", 
"WebframeWorkedWith" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "LanguageWorkedWith" IS NOT NULL;
'''
df = pd.read_sql_query(query, engine)

# df_regions = pd.read_sql_query('SELECT * FROM country_regions', engine)
#df.sample(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57378 entries, 0 to 57377
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hobbyist        57378 non-null  object
 1   MainBranch      57218 non-null  object
 2   Age             45028 non-null  float64
 3   Age1stCode      54146 non-null  object
 4   Country         57378 non-null  object
 5   databases       49298 non-null  object
 6   DevType         46243 non-null  object
 7   EdLevel         53407 non-null  object
 8   Employment      57107 non-null  object
 9   Ethnicity       45494 non-null  object
 10  Gender          49998 non-null  object
 11  developertools  40180 non-null  object
 12  learn           55129 non-null  object
 13  OpSys           55535 non-null  object
 14  language        57378 non-null  object
 15  UndergradMajor  47495 non-null  object
 16  webframes       42142 non-null  object
 17  YearsCode       53955 non-null  object
 18  YearsCodePro    43283 non-null  object
dtypes: float64(1), object(18)
memory usage: 8.3+ MB

In [133]:
# #investigate target data
# df['Hobbyist'].value_counts() #78% do code as a hobby

### Data Cleaning

Change columsn to numeric

In [134]:
num_cols = ['Age',  'Age1stCode', 'YearsCode', 'YearsCodePro']
for col in num_cols:
    df[col] = df[col].apply(pd.to_numeric, errors='coerce')

Clean EdLevel

In [135]:
def get_education(row):
    '''
    A function that shortens survey responses to get categorical features
    combines masters and doctorates and secondary and primary schooling

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the EdLevel column in df
    '''
    try:
        if 'Bachelor' in row[7]:
            return 'Bachelors'
        elif 'Master' in row[7] or 'doctoral' in row[7]:
            return 'Masters/Doctoral'
        elif 'Secondary' in row[7] or 'Primary' in row[7]:
            return 'Secondary/Primary'
        elif 'Associate' in row[7]:
            return 'Associate'
        elif 'Professional' in row[7]:
            return 'Professional'
        elif 'Some' in row[7]:
            return 'Some College'
        else:
            return 'None'
    except:
        return row[7]

In [136]:
df['EdLevel'] = df.apply(get_education, axis=1) #update EdLevel column
df['EdLevel'].value_counts()

Bachelors            24641
Masters/Doctoral     13762
Some College          6755
Secondary/Primary     5383
Associate             1730
Professional           733
None                   403
Name: EdLevel, dtype: int64

Clean Ethnicity

In [137]:
#change values with value counts less than 150 to other
c = df['Ethnicity'].value_counts()
df['Ethnicity'] = np.where(df['Ethnicity'].isin(c.index[c<150]), 'other', df['Ethnicity'])

In [138]:
def get_ethnicity(row):
    '''
    A function that shortens survey responses to get categorical features
    combines asian ethnicities and changes multi to multiracial

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Asian' in row[9]:
            return 'Asian'
        elif 'Hispanic' in row[9] and 'White' in row[9]:
            return 'other'
        elif 'Middle' in row[9] and 'White' in row[9]:
            return 'other'
        elif 'Black' in row[9]:
            return 'Black'
        elif 'Hispanic' in row[9]:
            return 'Hispanic'
        elif 'White' in row[9]:
            return 'White'
        elif 'Middle' in row[9]:
            return 'Middle Eastern'
        else:
            return 'other'
    except:
        return row[9]

In [139]:
df['Ethnicity'] = df.apply(get_ethnicity, axis=1) #update Ethnicity column
df['Ethnicity'].value_counts()

White             29119
Asian              7702
other              3195
Hispanic           2224
Black              1656
Middle Eastern     1598
Name: Ethnicity, dtype: int64

Clean Gender column

In [140]:
#change values with value counts less than 1000 to gender non-conforming
c = df['Gender'].value_counts()
df['Gender'] = np.where(df['Gender'].isin(c.index[c<1000]), 'gender non-conforming', df['Gender'])
df['Gender'].value_counts()

Man                      45534
Woman                     3780
gender non-conforming      684
Name: Gender, dtype: int64

Create new DatabasesUsed column from databases column

In [147]:
def get_num_databases(row):
    '''
    A function that returns the number of databases used 

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a numerical value representing the number of databases used
    '''
    if row[5] is None:
        return 0
    
    database_list = row[5].split(';')
    return len(database_list)

In [148]:
df['database_count'] = df.apply(get_num_databases, axis=1) #add values to database_count column
df['database_count'].value_counts()
#df['learn'].value_counts()

1     13494
2     12721
3      9616
0      8080
4      6065
5      3532
6      1925
7      1002
8       495
9       235
10       96
14       51
11       39
12       16
13       11
Name: database_count, dtype: int64

Clean UndergradMajor column

In [149]:
def get_major(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Computer' in row[15]:
            return 'Comp Sci/Eng'
        elif 'engineering' in row[15]:
            return 'Engineering'
        elif 'Web' in row[15]:
            return 'Web Dev'
        elif 'health' in row[15] or 'natural' in row[15]:
            return 'Health/Natural Science'
        elif 'Math' in row[15]:
            return 'Math/Stats'
        elif 'Information' in row[15]:
            return 'Information Tech/Sys'
        elif 'arts' in row[15]:
            return 'Arts'
        elif 'humanities' in row[15] or 'social' in row[15]:
            return 'Humanities/Social Sciences'
        elif 'never' in row[15]:
            return 'None'
        else:
            return float('NaN')
    except:
        return row[15]

In [150]:
df['UndergradMajor'] = df.apply(get_major, axis=1) #add values to UndergradMajor column
df['UndergradMajor'].value_counts()

Comp Sci/Eng                  29507
Engineering                    4411
Information Tech/Sys           3728
Health/Natural Science         2322
Humanities/Social Sciences     1823
Math/Stats                     1750
Web Dev                        1591
Arts                            680
None                            418
Name: UndergradMajor, dtype: int64

Create new region column based on Country column

In [151]:
#group regions df by region
country_regions_df['Country'] = country_regions_df['Country'].str.strip() #left&right strip country col before grouping
country_regions_df['Region'] = country_regions_df['Region'].str.strip() #left&right stripregion col before grouping

regions_grouped = country_regions_df.groupby('Region')['Country']

#create region dict for correct names
region_dict = {
                'SUB-SAHARAN AFRICA' : 'Africa',
                'LATIN AMER. & CARIB' : 'South America',
                'ASIA (EX. NEAR EAST)' : 'Asia',
                'WESTERN EUROPE' : 'West Europe',
                'OCEANIA' : 'Australia',
                'NEAR EAST' :  'Middle East',
                'EASTERN EUROPE': 'East Europe',
                'C.W. OF IND. STATES' : 'Russia',
                'NORTHERN AFRICA' : 'Africa',
                'NORTHERN AMERICA' : 'North America',
                'BALTICS' : 'Baltics'
                }

In [152]:
def get_region(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    #check if country exists in region df
    for group_name, df_group in regions_grouped:
        if row[4] in df_group.values:
            return region_dict[group_name]
    
    #check for missed values and return correct region if not nan value
    try:
        if 'Kong' in row[4] or 'Korea' in row[4] or 'Nam' in row[4] or 'Lao' in row[4]:
            return 'Asia'
        elif 'Congo' in row[4] or 'Gambia' in row[4] or 'Trinidad' in row[4] or 'Tanzania' in row[4] or 'Côte' in row[4]:
            return 'Africa'
        elif 'Syria' in row[4] or 'Libya' in row[4] or 'Myanmar' in row[4] or 'Nomadic' in row[4]:
            return 'Middle East'
        elif 'Bosnia' in row[4] or 'Moldova' in row[4] or 'Macedonia' in row[4] or 'Kosovo' in row[4] or 'Montenegro' in row[4]:
            return 'East Europe'
        elif 'Venezuela' in row[4]:
            return 'South America'
        elif 'Russia' in row[4]:
            return 'Russia'
        else:
            return 'other'
    except:
        return row[4]

In [153]:
df['Region'] = df.apply(get_region, axis=1) #add values to region column
df['Region'].value_counts()

West Europe      17005
North America    13671
Asia             11638
East Europe       3805
South America     3506
Africa            2288
Russia            1827
Middle East       1774
Australia         1460
Baltics            397
other                7
Name: Region, dtype: int64

Combine MainCranch, DevType and Employment cols

In [154]:
def edit_DevType(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    if row[6] is not None:
        dev_list = row[6].split(';')
        return [sub.replace('Developer, ', '') for sub in dev_list] 
        
    else:
        if row[1] is not None:
            if 'student' in row[1]:
                return ['Student']
            elif 'used to be' in row[1]:
                return ['Retired Dev']
            elif 'sometimes' in row[1]:
                return ['Sometimes Code at Work']
        elif row[8] is not None:
            return ['Other Occupation']
        else:
            return row[6]

In [155]:
df['DevType'] = df.apply(edit_DevType, axis=1) #add values to region column
#df['DevType'].value_counts().head(10)

Make DevTpes categories binary for top DevTypes

In [156]:
def add_binary_column(obj_list, str_search):
    try:
        for obj in obj_list:
            if str_search in obj:
                return 1
        return 0
    except:
        return obj_list

In [157]:
binary_columns = ['back-end', 'full-stack', 'front-end', 'desktop', 'mobile', 'DevOps', 'Database admin', 'Designer',
                 'System admin', 'student', 'Other Occupation', 'Retired Dev']
for col in binary_columns:
    x=0
    df[col] = df.apply(lambda x: add_binary_column(x['DevType'], col), axis=1)

In [158]:
#drop uneeded or combined columns
df.drop(labels=['Country', 'MainBranch', 'Employment', 'DevType', 'developertools', 'webframes', 'databases'
               ], axis=1, inplace=True)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57378 entries, 0 to 57377
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Hobbyist          57378 non-null  object
 1   Age               45028 non-null  float64
 2   Age1stCode        53789 non-null  float64
 3   EdLevel           53407 non-null  object
 4   Ethnicity         45494 non-null  object
 5   Gender            49998 non-null  object
 6   learn             55129 non-null  object
 7   OpSys             55535 non-null  object
 8   language          57378 non-null  object
 9   UndergradMajor    46230 non-null  object
 10  YearsCode         53219 non-null  float64
 11  YearsCodePro      41329 non-null  float64
 12  database_count    57378 non-null  int64
 13  Region            57378 non-null  object
 14  back-end          52792 non-null  float64
 15  full-stack        52792 non-null  float64
 16  front-end         52792 non-null  float64
 17  desktop           52792 non-null  float64
 18  mobile            52792 non-null  float64
 19  DevOps            52792 non-null  float64
 20  Database admin    52792 non-null  float64
 21  Designer          52792 non-null  float64
 22  System admin      52792 non-null  float64
 23  student           52792 non-null  float64
 24  Other Occupation  52792 non-null  float64
 25  Retired Dev       52792 non-null  float64
dtypes: float64(16), int64(1), object(9)
memory usage: 11.4+ MB

In [163]:
print(df.describe())

                Age    Age1stCode     YearsCode  YearsCodePro  database_count  \
count  45028.000000  53789.000000  53219.000000  41329.000000    57378.000000
mean      30.816070     15.390600     12.890941      8.949696        2.383858
std        9.543251      5.053333      9.517262      7.783919        1.903004
min        1.000000      5.000000      1.000000      1.000000        0.000000
25%       24.000000     12.000000      6.000000      3.000000        1.000000
50%       29.000000     15.000000     10.000000      6.000000        2.000000
75%       35.000000     18.000000     18.000000     12.000000        3.000000
max      279.000000     85.000000     50.000000     50.000000       14.000000

           back-end    full-stack     front-end       desktop        mobile  \
count  52792.000000  52792.000000  52792.000000  52792.000000  52792.000000
mean       0.486911      0.485301      0.325769      0.210960      0.167866
std        0.499833      0.499789      0.468666      0.407994      0.373751
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        1.000000      1.000000      1.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

             DevOps  Database admin      Designer  System admin  student  \
count  52792.000000    52792.000000  52792.000000  52792.000000  52792.0
mean       0.107876        0.102705      0.094749      0.094276      0.0
std        0.310227        0.303576      0.292871      0.292215      0.0
min        0.000000        0.000000      0.000000      0.000000      0.0
25%        0.000000        0.000000      0.000000      0.000000      0.0
50%        0.000000        0.000000      0.000000      0.000000      0.0
75%        0.000000        0.000000      0.000000      0.000000      0.0
max        1.000000        1.000000      1.000000      1.000000      0.0

       Other Occupation   Retired Dev
count      52792.000000  52792.000000
mean           0.001250      0.005531
std            0.035336      0.074166
min            0.000000      0.000000
25%            0.000000      0.000000
50%            0.000000      0.000000
75%            0.000000      0.000000
max            1.000000      1.000000