In [1]:
import pandas as pd
import numpy as np
import math

# sql
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine
import psycopg2 as pg

In [2]:
#crerate engine
engine = create_engine('postgresql://racheldilley:localhost@localhost:5432/programer_database')

Upload servey data as sql table "survey2020" to "programer_database"

In [3]:
# survey2020 = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/survey_results_public.csv')

# # name table survey2020
# survey2020.to_sql('survey2020', engine, index=False)

Upload region data as sql table "country_regions" to "programer_database"

In [4]:
country_regions_df = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/countries of the world.csv')

print(country_regions_df['Region'].value_counts())
# name table survey2020
#country_regions.to_sql('country_region', engine, index=False)

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
ASIA (EX. NEAR EAST)                   28
WESTERN EUROPE                         28
OCEANIA                                21
NEAR EAST                              16
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

Query columns from survey2020 where Hobbyist (the target data) is not null

In [5]:
query = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechWorkedWith" as developertools,
"NEWLearn" as Learn, "OpSys", "LanguageWorkedWith" as Language, "UndergradMajor", 
"WebframeWorkedWith" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "OpSys" IS NOT NULL AND "OpSys" NOT IN ('BSD');
'''
df = pd.read_sql_query(query, engine)

### Data Cleaning

Expand df so there is only one top coding language per column

In [6]:
# def get_languages_df(row, columns, str_list, idx):
#     '''
#     A function that turns a list in a column into multiple rows

#     Parameters
#     ----------
#     row : row of df
#     columns: columns of df
#     str_list: list fo strings that will be included as rows
#     idx: col index of list 

#     Returns
#     -------
#     a df 
#     '''
#     df_devs = pd.DataFrame(columns=columns)
#     col_list = row[idx].split(';') #create list from row value
    
#     #loop through list and add to append value to df if value in str_list
#     for val in col_list:
#         if val in str_list:
#             row[idx]= val #row to be changed to single value
#             df_devs = df_devs.append(pd.DataFrame({'Hobbyist': row[0], 'MainBranch': row[1], 'Age': row[2], 
#                                                    'Age1stCode': row[3], 'Country': row[4], 'databases': row[5],
#                                                    'DevType': row[6], 'EdLevel': row[7], 'Employment': row[8],
#                                                   'Ethnicity': row[9], 'Gender': row[10], 'developertools': row[11],
#                                                    'learn': row[12], 'OpSys': row[13], 'language': row[14], 
#                                                    'UndergradMajor': row[15], 'webframes': row[16], 'YearsCode': row[17],
#                                                   'YearsCodePro': row[18]}, index=[index]), ignore_index=True)
#     return df_devs

In [7]:
# columns = df.columns
# df2 = pd.DataFrame(columns=columns)
# top_langs = ['JavaScript', 'Python', 'SQL', 'Java', 'HTML/CSS']

# #loop through all cols in df and concat df from function to newly created df
# for index, row in df.iterrows():
#     df_devtypes = get_languages_df(row, columns, top_langs, 14)
#     df2 = pd.concat([df2, df_devtypes], axis=0)
#     #print(df2)

In [8]:
#df3.info()

Clean Target Data

In [9]:
df2 = df.copy()
df2.loc[:, 'OpSys'] = df['OpSys'].astype('category') #change to categorical data

#investigate target data
df2['OpSys'].value_counts()

Windows        27170
Linux-based    14932
MacOS          14075
Name: OpSys, dtype: int64

Change columsn to numeric

In [10]:
df3 = df2.copy()
num_cols = ['Age',  'Age1stCode', 'YearsCode', 'YearsCodePro']
for col in num_cols:
    df3[col] = df3[col].apply(pd.to_numeric, errors='coerce')

Clean Language column

In [11]:
df3['language'] = df3['language'].apply(lambda x: x.split(';') if x is not None else x)
print(df3['language'].value_counts().head())

[HTML/CSS, JavaScript, PHP, SQL]               1038
[HTML/CSS, JavaScript]                          854
[C#, HTML/CSS, JavaScript, SQL]                 836
[C#, HTML/CSS, JavaScript, SQL, TypeScript]     741
[HTML/CSS, JavaScript, TypeScript]              683
Name: language, dtype: int64

Clean EdLevel

In [12]:
def get_education(row):
    '''
    A function that shortens survey responses to get categorical features
    combines masters and doctorates and secondary and primary schooling

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the EdLevel column in df
    '''
    try:
        if 'Bachelor' in row[7]:
            return 'BA/BS'
        elif 'Master' in row[7] or 'doctoral' in row[7]:
            return 'MA/PhD'
        elif 'Secondary' in row[7] or 'Primary' in row[7]:
            return 'Sec/Prim'
        elif 'Associate' in row[7]:
            return 'AA/AS'
        elif 'Professional' in row[7]:
            return 'Prof'
        elif 'Some' in row[7]:
            return 'Some Univ'
        else:
            return 'None'
    except: #fill na values
        if row[1] is not None:
            if 'student' in row[1]: #check if student 
                return 'Student'
        return row[7]

In [13]:
df3['EdLevel'] = df3.apply(get_education, axis=1) #update EdLevel column
df3['EdLevel'].value_counts()

BA/BS        24496
MA/PhD       13728
Some Univ     6723
Sec/Prim      5345
AA/AS         1712
Prof           731
Student        616
None           404
Name: EdLevel, dtype: int64

Clean Ethnicity

In [14]:
#change values with value counts less than 150 to other
c = df3['Ethnicity'].value_counts()
df3['Ethnicity'] = np.where(df3['Ethnicity'].isin(c.index[c<250]), 'other', df3['Ethnicity'])

In [15]:
def get_ethnicity(row):
    '''
    A function that shortens survey responses to get categorical features
    combines asian ethnicities and changes multi to multiracial

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Asian' in row[9]:
            return 'Asian'
        elif 'Hispanic' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Middle' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Black' in row[9]:
            return 'Black'
        elif 'Hispanic' in row[9]:
            return 'Hispanic'
        elif 'White' in row[9]:
            return 'White'
        elif 'Middle' in row[9]:
            return 'M Eastern'
        else:
            return row[9]
    except:
        return row[9]

In [16]:
df3['Ethnicity'] = df3.apply(get_ethnicity, axis=1) #update Ethnicity column
df3['Ethnicity'].value_counts()

White          29084
Asian           7775
Hispanic        2243
other           1761
Black           1677
M Eastern       1613
Biracial        1131
Multiracial      288
Name: Ethnicity, dtype: int64

Clean Gender column

In [17]:
#change values with value counts less than 1000 to gender non-conforming
c = df3['Gender'].value_counts()
df3['Gender'] = np.where(df3['Gender'].isin(c.index[c<1100]), 'gender non-conforming', df3['Gender'])
df3['Gender'].value_counts()

Man                      45625
Woman                     3799
gender non-conforming      683
Name: Gender, dtype: int64

Create new DatabasesUsed column from databases column

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56177 entries, 0 to 56176
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hobbyist        56177 non-null  object
 1   MainBranch      56024 non-null  object
 2   Age             45046 non-null  float64
 3   Age1stCode      53486 non-null  float64
 4   Country         56177 non-null  object
 5   databases       48091 non-null  object
 6   DevType         45947 non-null  object
 7   EdLevel         53755 non-null  object
 8   Employment      55900 non-null  object
 9   Ethnicity       45572 non-null  object
 10  Gender          50107 non-null  object
 11  developertools  39779 non-null  object
 12  learn           53956 non-null  object
 13  OpSys           56177 non-null  category
 14  language        55489 non-null  object
 15  UndergradMajor  47255 non-null  object
 16  webframes       41459 non-null  object
 17  YearsCode       52865 non-null  float64
 18  YearsCodePro    41057 non-null  float64
dtypes: category(1), float64(4), object(14)
memory usage: 7.8+ MB

In [19]:
def get_num_databases(row):
    '''
    A function that returns the number of databases used 

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a numerical value representing the number of databases used
    '''
    if row[5] is None:
        return 0
    
    database_list = row[5].split(';')
    return len(database_list)

In [20]:
df3['database_count'] = df3.apply(get_num_databases, axis=1) #add values to database_count column
df3['database_count'].value_counts()
#df['learn'].value_counts()

1     13223
2     12425
3      9360
0      8086
4      5910
5      3451
6      1872
7       969
8       477
9       214
10       93
14       37
11       36
12       15
13        9
Name: database_count, dtype: int64

Clean UndergradMajor column

In [21]:
def get_major(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Computer' in row[15]:
            return 'Comp Sci/Eng'
        elif 'engineering' in row[15]:
            return 'Eng'
        elif 'Web' in row[15]:
            return 'Web Dev'
        elif 'health' in row[15] or 'natural' in row[15]:
            return 'Health/Nat Sci'
        elif 'Math' in row[15]:
            return 'Math/Stats'
        elif 'Information' in row[15]:
            return 'Info Tech/Sys'
        elif 'arts' in row[15]:
            return 'Arts'
        elif 'humanities' in row[15] or 'social' in row[15]:
            return 'Human/Social Sci'
        elif 'never' in row[15]:
            return 'None'
        else:
            return float('NaN')
    except:
        if row[7] is not None: #return none if never attended college
            if 'Secondary/Primary' in row[7] or 'Some' in row[7] or 'None' in row[7] or 'Student' in row[7]: 
                return 'None'
        
        return row[15]

In [22]:
df3['UndergradMajor'] = df3.apply(get_major, axis=1) #add values to UndergradMajor column
df3['UndergradMajor'].value_counts()

Comp Sci/Eng        29326
Eng                  4400
Info Tech/Sys        3695
Health/Nat Sci       2340
Human/Social Sci     1817
Math/Stats           1733
Web Dev              1578
None                 1389
Arts                  679
Name: UndergradMajor, dtype: int64

Create new region column based on Country column

In [23]:
#group regions df by region
country_regions_df['Country'] = country_regions_df['Country'].str.strip() #left&right strip country col before grouping
country_regions_df['Region'] = country_regions_df['Region'].str.strip() #left&right stripregion col before grouping

regions_grouped = country_regions_df.groupby('Region')['Country']

#create region dict for correct names
region_dict = {
                'SUB-SAHARAN AFRICA' : 'Africa',
                'LATIN AMER. & CARIB' : 'S America',
                'ASIA (EX. NEAR EAST)' : 'Asia',
                'WESTERN EUROPE' : 'Europe',
                'OCEANIA' : 'Australia',
                'NEAR EAST' :  'M East',
                'EASTERN EUROPE': 'Europe',
                'C.W. OF IND. STATES' : 'CIS',
                'NORTHERN AFRICA' : 'Africa',
                'NORTHERN AMERICA' : 'N America',
                'BALTICS' : 'Baltics'
                }

In [24]:
def get_region(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    #check if country exists in region df
    for group_name, df_group in regions_grouped:
        if row[4] in df_group.values:
            return region_dict[group_name]
    
    #check for missed values and return correct region if not nan value
    try:
        if 'Kong' in row[4] or 'Korea' in row[4] or 'Nam' in row[4] or 'Lao' in row[4]:
            return 'Asia'
        elif 'Congo' in row[4] or 'Gambia' in row[4] or 'Trinidad' in row[4] or 'Tanzania' in row[4] or 'Côte' in row[4]:
            return 'Africa'
        elif 'Syria' in row[4] or 'Libya' in row[4] or 'Myanmar' in row[4] or 'Nomadic' in row[4]:
            return 'M East'
        elif 'Bosnia' in row[4] or 'Moldova' in row[4] or 'Macedonia' in row[4] or 'Kosovo' in row[4] or 'Montenegro' in row[4]:
            return 'Europe'
        elif 'Venezuela' in row[4]:
            return 'S America'
        elif 'Russia' in row[4]:
            return 'CIS'
        else:
            return 'other'
    except:
        return row[4]

In [25]:
df3['Region'] = df3.apply(get_region, axis=1) #add values to region column
df3['Region'].value_counts()

Europe       20453
N America    13410
Asia         11286
S America     3423
Africa        2234
CIS           1798
M East        1734
Australia     1443
Baltics        391
other            5
Name: Region, dtype: int64

Make Hobbyist Column binary

In [26]:
# df3['Hobbyist_bin'] = df3['Hobbyist'].apply(lambda x: 1 if x=='Yes'  else 0)

Combine MainBranch, DevType and Employment columns

In [27]:
def edit_DevType(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    if row[6] is not None: #return list of DevTypes
        dev_list = row[6].split(';')
        return [sub.replace('Developer, ', '') for sub in dev_list] 
        
    else:
        if row[1] is not None: #check if student, retired, or sometimes code for work
            if 'student' in row[1]:
                return ['Student']
            elif 'used to be' in row[1]:
                return ['Retired Dev']
            elif 'sometimes' in row[1]:
                return ['Sometimes Code at Work']
        elif row[8] is not None: #if other columns are empty, check if employed but not a developer
            return ['Other Occupation']
        else:
            return row[6]

In [28]:
df3['DevType'] = df3.apply(edit_DevType, axis=1) #add values to region column
df3['DevType'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Student]                                                                5211
[full-stack]                                                             4077
[back-end]                                                               2850
[back-end, front-end, full-stack]                                        2099
[back-end, full-stack]                                                   1393
[front-end]                                                              1260
[mobile]                                                                 1138
[front-end, full-stack]                                                   781
[back-end, desktop or enterprise applications, front-end, full-stack]     767
[Sometimes Code at Work]                                                  761
Name: DevType, dtype: int64

Make DevTpes categories binary for top DevTypes

In [29]:
def add_binary_column(obj_list, str_search):
    try:
        for obj in obj_list:
            if str_search in obj:
                return 'Yes'
        return 'No'
    except:
        return obj_list

In [30]:
devtype_columns = ['back-end', 'full-stack', 'front-end', 'desktop', 'mobile', 'DevOps', 'Database admin', 'Designer',
                 'System admin', 'Student', 'Other Occupation', 'Retired Dev','Sometimes Code at Work']
for col in devtype_columns:
    x=0
    df3[col] = df3.apply(lambda x: add_binary_column(x['DevType'], col), axis=1)
    
lang_columns = ['JavaScript', 'Python', 'SQL', 'Java', 'HTML/CSS']
for col in lang_columns:
    x=0
    df3[col] = df3.apply(lambda x: add_binary_column(x['language'], col), axis=1)

drop uneeded or combined columns

In [31]:
df3.drop(labels=['Country', 'MainBranch', 'Employment', 'DevType', 'developertools', 'webframes', 'databases',
               'language'], axis=1, inplace=True)

In [32]:
df3.describe()

                Age    Age1stCode     YearsCode  YearsCodePro  database_count
count  45046.000000  53486.000000  52865.000000  41057.000000    56177.000000
mean      30.805088     15.410556     12.887525      8.945417        2.366556
std        9.523790      5.070478      9.514476      7.768954        1.890149
min        1.000000      5.000000      1.000000      1.000000        0.000000
25%       24.000000     12.000000      6.000000      3.000000        1.000000
50%       29.000000     15.000000     10.000000      6.000000        2.000000
75%       35.000000     18.000000     18.000000     12.000000        3.000000
max      279.000000     85.000000     50.000000     50.000000       14.000000

Clean Age and Age1stCode column

In [33]:
df3 = df3[df3['Age'] < 70] #avg age of death is
df3 = df3[df3['Age1stCode'] < 60] #max was 85, which seems very unrealistic

df3['YearsCodePro'] = df3['YearsCodePro'].fillna(value=0) #fill na values with 0
df3.describe()

                Age    Age1stCode     YearsCode  YearsCodePro  database_count
count  44554.000000  44554.000000  43961.000000  44554.000000    44554.000000
mean      30.677358     15.253670     13.046268      6.943260        2.373210
std        9.155352      4.876282      9.408285      7.691302        1.861717
min        1.000000      5.000000      1.000000      0.000000        0.000000
25%       24.000000     12.000000      6.000000      1.000000        1.000000
50%       29.000000     15.000000     10.000000      5.000000        2.000000
75%       35.000000     18.000000     18.000000     10.000000        3.000000
max       69.000000     58.000000     50.000000     50.000000       14.000000

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44554 entries, 3 to 56170
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Hobbyist                44554 non-null  object
 1   Age                     44554 non-null  float64
 2   Age1stCode              44554 non-null  float64
 3   EdLevel                 43811 non-null  object
 4   Ethnicity               40586 non-null  object
 5   Gender                  43991 non-null  object
 6   learn                   43000 non-null  object
 7   OpSys                   44554 non-null  category
 8   UndergradMajor          38324 non-null  object
 9   YearsCode               43961 non-null  float64
 10  YearsCodePro            44554 non-null  float64
 11  database_count          44554 non-null  int64
 12  Region                  44554 non-null  object
 13  back-end                42821 non-null  object
 14  full-stack              42821 non-null  object
 15  front-end               42821 non-null  object
 16  desktop                 42821 non-null  object
 17  mobile                  42821 non-null  object
 18  DevOps                  42821 non-null  object
 19  Database admin          42821 non-null  object
 20  Designer                42821 non-null  object
 21  System admin            42821 non-null  object
 22  Student                 42821 non-null  object
 23  Other Occupation        42821 non-null  object
 24  Retired Dev             42821 non-null  object
 25  Sometimes Code at Work  42821 non-null  object
 26  JavaScript              44187 non-null  object
 27  Python                  44187 non-null  object
 28  SQL                     44187 non-null  object
 29  Java                    44187 non-null  object
 30  HTML/CSS                44187 non-null  object
dtypes: category(1), float64(4), int64(1), object(25)
memory usage: 10.6+ MB

Pickle df3 to data folder

In [35]:
df3.to_pickle('../Data/survey_data_cleaned.pkl')

New df with removed na values

In [36]:
df4 = df3.copy()
df4 = df4.dropna()
#df4.info()

In [37]:
df4.to_pickle('../Data/survey_data_cleaned2.pkl')