In [1]:
import pandas as pd
import numpy as np
import math

# sql
import pandas.io.sql as pd_sql
from sqlalchemy import create_engine
import psycopg2 as pg

# plotting
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#set the rc parameters
plt.style.use('ggplot')
plt.rc('font', size=18)

In [3]:
#crerate engine
engine = create_engine('postgresql://racheldilley:localhost@localhost:5432/programer_database')

Upload servey data as sql table "survey2020" to "programer_database"

In [4]:
# survey2020 = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/survey_results_public.csv')

# # name table survey2020
# survey2020.to_sql('survey2020', engine, index=False)

Upload region data as sql table "country_regions" to "programer_database"

In [5]:
country_regions_df = pd.read_csv('/Users/racheldilley/Documents/Metis/git_repos/coding-language-predictor/data/countries of the world.csv')

print(country_regions_df['Region'].value_counts())
# name table survey2020
#country_regions.to_sql('country_region', engine, index=False)

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

Query columns from survey2020 where Hobbyist (the target data) is not null

In [6]:
query = '''
SELECT "Hobbyist","MainBranch", "Age", "Age1stCode",  "Country", "DatabaseWorkedWith" as databases, 
"DevType", "EdLevel", "Employment", "Ethnicity", "Gender", "MiscTechWorkedWith" as developertools,
"NEWLearn" as Learn, "OpSys", "LanguageWorkedWith" as Language, "UndergradMajor", 
"WebframeWorkedWith" as Webframes, "YearsCode", "YearsCodePro"
FROM survey2020
WHERE "LanguageWorkedWith" IS NOT NULL;
'''
df = pd.read_sql_query(query, engine)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57378 entries, 0 to 57377
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hobbyist        57378 non-null  object
 1   MainBranch      57218 non-null  object
 2   Age             45028 non-null  float64
 3   Age1stCode      54146 non-null  object
 4   Country         57378 non-null  object
 5   databases       49298 non-null  object
 6   DevType         46243 non-null  object
 7   EdLevel         53407 non-null  object
 8   Employment      57107 non-null  object
 9   Ethnicity       45494 non-null  object
 10  Gender          49998 non-null  object
 11  developertools  40180 non-null  object
 12  learn           55129 non-null  object
 13  OpSys           55535 non-null  object
 14  language        57378 non-null  object
 15  UndergradMajor  47495 non-null  object
 16  webframes       42142 non-null  object
 17  YearsCode       53955 non-null  object
 18  YearsCodePro    43283 non-null  object
dtypes: float64(1), object(18)
memory usage: 8.3+ MB

### Data Cleaning

Expand df so there is only one top coding language per column

In [7]:
def get_languages_df(row, columns, str_list, idx):
    '''
    A function that turns a list in a column into multiple rows

    Parameters
    ----------
    row : row of df
    columns: columns of df
    str_list: list fo strings that will be included as rows
    idx: col index of list 

    Returns
    -------
    a df 
    '''
    df_devs = pd.DataFrame(columns=columns)
    col_list = row[idx].split(';') #create list from row value
    
    #loop through list and add to append value to df if value in str_list
    for val in col_list:
        if val in str_list:
            row[idx]= val #row to be changed to single value
            df_devs = df_devs.append(pd.DataFrame({'Hobbyist': row[0], 'MainBranch': row[1], 'Age': row[2], 
                                                   'Age1stCode': row[3], 'Country': row[4], 'databases': row[5],
                                                   'DevType': row[6], 'EdLevel': row[7], 'Employment': row[8],
                                                  'Ethnicity': row[9], 'Gender': row[10], 'developertools': row[11],
                                                   'learn': row[12], 'OpSys': row[13], 'language': row[14], 
                                                   'UndergradMajor': row[15], 'webframes': row[16], 'YearsCode': row[17],
                                                  'YearsCodePro': row[18]}, index=[index]), ignore_index=True)
    return df_devs

In [8]:
columns = df.columns
df2 = pd.DataFrame(columns=columns)
top_langs = ['JavaScript', 'Python', 'SQL', 'Java', 'HTML/CSS']

#loop through all cols in df and concat df from function to newly created df
for index, row in df.iterrows():
    df_devtypes = get_languages_df(row, columns, top_langs, 14)
    df2 = pd.concat([df2, df_devtypes], axis=0)
    #print(df2)

In [9]:
#investigate target data
df2['language'].value_counts()

JavaScript    38822
HTML/CSS      36181
SQL           31413
Python        25287
Java          23074
Name: language, dtype: int64

Change columsn to numeric

In [105]:
df3 = df2.copy()
num_cols = ['Age',  'Age1stCode', 'YearsCode', 'YearsCodePro']
for col in num_cols:
    df3[col] = df3[col].apply(pd.to_numeric, errors='coerce')

Clean EdLevel

In [106]:
def get_education(row):
    '''
    A function that shortens survey responses to get categorical features
    combines masters and doctorates and secondary and primary schooling

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the EdLevel column in df
    '''
    try:
        if 'Bachelor' in row[7]:
            return 'Bachelors'
        elif 'Master' in row[7] or 'doctoral' in row[7]:
            return 'Masters/Doctoral'
        elif 'Secondary' in row[7] or 'Primary' in row[7]:
            return 'Secondary/Primary'
        elif 'Associate' in row[7]:
            return 'Associate'
        elif 'Professional' in row[7]:
            return 'Professional'
        elif 'Some' in row[7]:
            return 'Some College'
        else:
            return 'None'
    except: #fill na values
        if row[1] is not None:
            if 'student' in row[1]: #check if student 
                return 'Current Student'
        return row[7]

In [107]:
df3['EdLevel'] = df3.apply(get_education, axis=1) #update EdLevel column
df3['EdLevel'].value_counts()

Bachelors            67481
Masters/Doctoral     34758
Some College         19106
Secondary/Primary    14977
Associate             4882
Current Student       2112
Professional          2046
None                  1015
Name: EdLevel, dtype: int64

Clean Ethnicity

In [108]:
#change values with value counts less than 150 to other
c = df3['Ethnicity'].value_counts()
df3['Ethnicity'] = np.where(df3['Ethnicity'].isin(c.index[c<250]), 'other', df3['Ethnicity'])

In [109]:
def get_ethnicity(row):
    '''
    A function that shortens survey responses to get categorical features
    combines asian ethnicities and changes multi to multiracial

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Asian' in row[9]:
            return 'Asian'
        elif 'Hispanic' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Middle' in row[9] and 'White' in row[9]:
            return 'Biracial'
        elif 'Black' in row[9]:
            return 'Black'
        elif 'Hispanic' in row[9]:
            return 'Hispanic'
        elif 'White' in row[9]:
            return 'White'
        elif 'Middle' in row[9]:
            return 'Middle Eastern'
        else:
            return row[9]
    except:
        return row[9]

In [110]:
df3['Ethnicity'] = df3.apply(get_ethnicity, axis=1) #update Ethnicity column
df3['Ethnicity'].value_counts()

White             78205
Asian             21286
Hispanic           6372
Black              4762
Middle Eastern     4299
other              4171
Biracial           3543
Multiracial         806
Name: Ethnicity, dtype: int64

Clean Gender column

In [111]:
#change values with value counts less than 1000 to gender non-conforming
c = df3['Gender'].value_counts()
df3['Gender'] = np.where(df3['Gender'].isin(c.index[c<1100]), 'gender non-conforming', df3['Gender'])
df3['Gender'].value_counts()

Man                      123350
Woman                     10201
gender non-conforming      1936
Name: Gender, dtype: int64

Create new DatabasesUsed column from databases column

In [112]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154777 entries, 0 to 3
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Hobbyist        154777 non-null  object
 1   MainBranch      154385 non-null  object
 2   Age             122185 non-null  float64
 3   Age1stCode      145411 non-null  float64
 4   Country         154777 non-null  object
 5   databases       141785 non-null  object
 6   DevType         124668 non-null  object
 7   EdLevel         146377 non-null  object
 8   Employment      154086 non-null  object
 9   Ethnicity       123444 non-null  object
 10  Gender          135487 non-null  object
 11  developertools  116064 non-null  object
 12  learn           149222 non-null  object
 13  OpSys           149893 non-null  object
 14  language        154777 non-null  object
 15  UndergradMajor  128141 non-null  object
 16  webframes       127309 non-null  object
 17  YearsCode       144423 non-null  float64
 18  YearsCodePro    110868 non-null  float64
dtypes: float64(4), object(15)
memory usage: 23.6+ MB

In [113]:
def get_num_databases(row):
    '''
    A function that returns the number of databases used 

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a numerical value representing the number of databases used
    '''
    if row[5] is None:
        return 0
    
    database_list = row[5].split(';')
    return len(database_list)

In [114]:
df3['database_count'] = df3.apply(get_num_databases, axis=1) #add values to database_count column
df3['database_count'].value_counts()
#df['learn'].value_counts()

2     34434
1     31108
3     29128
4     19911
0     12992
5     12330
6      7090
7      3891
8      2002
9       962
10      404
14      236
11      173
12       66
13       50
Name: database_count, dtype: int64

Clean UndergradMajor column

In [115]:
def get_major(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to update the Ethnicity column in df
    '''
    try:
        if 'Computer' in row[15]:
            return 'Comp Sci/Eng'
        elif 'engineering' in row[15]:
            return 'Engineering'
        elif 'Web' in row[15]:
            return 'Web Dev'
        elif 'health' in row[15] or 'natural' in row[15]:
            return 'Health/Natural Science'
        elif 'Math' in row[15]:
            return 'Math/Stats'
        elif 'Information' in row[15]:
            return 'Information Tech/Sys'
        elif 'arts' in row[15]:
            return 'Arts'
        elif 'humanities' in row[15] or 'social' in row[15]:
            return 'Humanities/Social Sciences'
        elif 'never' in row[15]:
            return 'None'
        else:
            return float('NaN')
    except:
        if row[7] is not None: #return none if never attended college
            if 'Secondary/Primary' in row[7] or 'Some' in row[7] or 'None' in row[7] or 'Student' in row[7]: 
                return 'None'
        
        return row[15]

In [116]:
df3['UndergradMajor'] = df3.apply(get_major, axis=1) #add values to UndergradMajor column
df3['UndergradMajor'].value_counts()

Comp Sci/Eng                  82110
None                          19024
Engineering                   10516
Information Tech/Sys          10452
Health/Natural Science         5427
Humanities/Social Sciences     4779
Web Dev                        4577
Math/Stats                     4171
Arts                           1793
Name: UndergradMajor, dtype: int64

Create new region column based on Country column

In [117]:
#group regions df by region
country_regions_df['Country'] = country_regions_df['Country'].str.strip() #left&right strip country col before grouping
country_regions_df['Region'] = country_regions_df['Region'].str.strip() #left&right stripregion col before grouping

regions_grouped = country_regions_df.groupby('Region')['Country']

#create region dict for correct names
region_dict = {
                'SUB-SAHARAN AFRICA' : 'Africa',
                'LATIN AMER. & CARIB' : 'South America',
                'ASIA (EX. NEAR EAST)' : 'Asia',
                'WESTERN EUROPE' : 'Europe',
                'OCEANIA' : 'Australia',
                'NEAR EAST' :  'Middle East',
                'EASTERN EUROPE': 'Europe',
                'C.W. OF IND. STATES' : 'CIS',
                'NORTHERN AFRICA' : 'Africa',
                'NORTHERN AMERICA' : 'North America',
                'BALTICS' : 'Baltics'
                }

In [118]:
def get_region(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    #check if country exists in region df
    for group_name, df_group in regions_grouped:
        if row[4] in df_group.values:
            return region_dict[group_name]
    
    #check for missed values and return correct region if not nan value
    try:
        if 'Kong' in row[4] or 'Korea' in row[4] or 'Nam' in row[4] or 'Lao' in row[4]:
            return 'Asia'
        elif 'Congo' in row[4] or 'Gambia' in row[4] or 'Trinidad' in row[4] or 'Tanzania' in row[4] or 'CÃ´te' in row[4]:
            return 'Africa'
        elif 'Syria' in row[4] or 'Libya' in row[4] or 'Myanmar' in row[4] or 'Nomadic' in row[4]:
            return 'Middle East'
        elif 'Bosnia' in row[4] or 'Moldova' in row[4] or 'Macedonia' in row[4] or 'Kosovo' in row[4] or 'Montenegro' in row[4]:
            return 'Europe'
        elif 'Venezuela' in row[4]:
            return 'South America'
        elif 'Russia' in row[4]:
            return 'CIS'
        else:
            return 'other'
    except:
        return row[4]

In [119]:
df3['Region'] = df3.apply(get_region, axis=1) #add values to region column
df3['Region'].value_counts()

Europe           55375
North America    37952
Asia             31148
South America     9997
Africa            6523
Middle East       4563
CIS               4206
Australia         3909
Baltics           1078
other               26
Name: Region, dtype: int64

Combine MainBranch, DevType and Employment columns

In [120]:
def edit_DevType(row):
    '''
    A function that shortens survey responses to get categorical features
    combines some majors together

    Parameters
    ----------
    row : row of df

    Returns
    -------
    a str to add region to region column in df
    '''
    if row[6] is not None: #return list of DevTypes
        dev_list = row[6].split(';')
        return [sub.replace('Developer, ', '') for sub in dev_list] 
        
    else:
        if row[1] is not None: #check if student, retired, or sometimes code for work
            if 'student' in row[1]:
                return ['Student']
            elif 'used to be' in row[1]:
                return ['Retired Dev']
            elif 'sometimes' in row[1]:
                return ['Sometimes Code at Work']
        elif row[8] is not None: #if other columns are empty, check if employed but not a developer
            return ['Other Occupation']
        else:
            return row[6]

In [121]:
df3['DevType'] = df3.apply(edit_DevType, axis=1) #add values to region column
df3['DevType'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Student]                                                                15063
[full-stack]                                                             12144
[back-end, front-end, full-stack]                                         6419
[back-end]                                                                6372
[back-end, full-stack]                                                    3865
[front-end]                                                               2932
[back-end, desktop or enterprise applications, front-end, full-stack]     2291
[front-end, full-stack]                                                   2078
[Sometimes Code at Work]                                                  1949
[back-end, front-end, full-stack, mobile]                                 1751
Name: DevType, dtype: int64

Make DevTpes categories binary for top DevTypes

In [123]:
def add_binary_column(obj_list, str_search):
    try:
        for obj in obj_list:
            if str_search in obj:
                return 1
        return 0
    except:
        return obj_list

In [124]:
binary_columns = ['back-end', 'full-stack', 'front-end', 'desktop', 'mobile', 'DevOps', 'Database admin', 'Designer',
                 'System admin', 'Student', 'Other Occupation', 'Retired Dev','Sometimes Code at Work']
for col in binary_columns:
    x=0
    df3[col] = df3.apply(lambda x: add_binary_column(x['DevType'], col), axis=1)

drop uneeded or combined columns

In [126]:
df3.drop(labels=['Country', 'MainBranch', 'Employment', 'DevType', 'developertools', 'webframes', 'databases'
               ], axis=1, inplace=True)

In [128]:
df3.describe()

,Age,Age1stCode,YearsCode,YearsCodePro,database_count,back-end,full-stack,front-end,desktop,mobile,DevOps,Database admin,Designer,System admin,Student,Other Occupation,Retired Dev,Sometimes Code at Work
count,122185.000000,145411.000000,144423.000000,110868.000000,154777.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000
mean,30.310544,15.237142,12.690382,8.821427,2.802703,0.519372,0.553442,0.364237,0.219823,0.171812,0.119885,0.122327,0.105095,0.108645,0.105684,0.001066,0.004883,0.013675
std,9.222797,4.908378,9.306356,7.646620,2.000669,0.499626,0.497137,0.481217,0.414128,0.377218,0.324828,0.327664,0.306677,0.311195,0.307434,0.032639,0.069710,0.116136
min,1.000000,5.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,12.000000,6.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,28.000000,15.000000,10.000000,6.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,35.000000,18.000000,17.000000,12.000000,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99.000000,85.000000,50.000000,50.000000,14.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Clean Age and Age1stCode column

In [129]:
df3 = df3[df3['Age'] < 70] #avg age of death is
df3 = df3[df3['Age1stCode'] < 60] #max was 85, which seems very unrealistic

df3['YearsCodePro'] = df3['YearsCodePro'].fillna(value=0) #fill na values with 0
df3.describe()

,Age,Age1stCode,YearsCode,YearsCodePro,database_count,back-end,full-stack,front-end,desktop,mobile,DevOps,Database admin,Designer,System admin,Student,Other Occupation,Retired Dev,Sometimes Code at Work
count,120921.000000,120921.000000,119714.000000,120921.000000,120921.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000,116078.000000
mean,30.201709,15.102745,12.832442,6.777499,2.794725,0.535907,0.573149,0.374490,0.223936,0.174615,0.125373,0.124882,0.102776,0.111451,0.090319,0.000715,0.002998,0.009942
std,8.951396,4.749359,9.198101,7.551740,1.943854,0.498711,0.494622,0.483993,0.416881,0.379639,0.331142,0.330586,0.303667,0.314691,0.286639,0.026731,0.054672,0.099211
min,1.000000,5.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,12.000000,6.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,28.000000,15.000000,10.000000,4.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,35.000000,18.000000,17.000000,10.000000,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,69.000000,58.000000,50.000000,50.000000,14.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [130]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120921 entries, 0 to 0
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Hobbyist                120921 non-null  object
 1   Age                     120921 non-null  float64
 2   Age1stCode              120921 non-null  float64
 3   EdLevel                 118852 non-null  object
 4   Ethnicity               110276 non-null  object
 5   Gender                  119391 non-null  object
 6   learn                   117051 non-null  object
 7   OpSys                   120032 non-null  object
 8   language                120921 non-null  object
 9   UndergradMajor          116044 non-null  object
 10  YearsCode               119714 non-null  float64
 11  YearsCodePro            120921 non-null  float64
 12  database_count          120921 non-null  int64
 13  Region                  120921 non-null  object
 14  back-end                116078 non-null  float64
 15  full-stack              116078 non-null  float64
 16  front-end               116078 non-null  float64
 17  desktop                 116078 non-null  float64
 18  mobile                  116078 non-null  float64
 19  DevOps                  116078 non-null  float64
 20  Database admin          116078 non-null  float64
 21  Designer                116078 non-null  float64
 22  System admin            116078 non-null  float64
 23  Student                 116078 non-null  float64
 24  Other Occupation        116078 non-null  float64
 25  Retired Dev             116078 non-null  float64
 26  Sometimes Code at Work  116078 non-null  float64
dtypes: float64(17), int64(1), object(9)
memory usage: 25.8+ MB

Pickle df3 to data folder

In [131]:
df3.to_pickle('../data/survey_data_cleaned.pkl')

New df with removed na values

In [135]:
df4 = df3.copy()
df4 = df4.dropna()
#df4.info()

In [136]:
df4.to_pickle('../data/survey_data_cleaned2.pkl')